In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [2]:
data = pd.read_csv("multiple_linear_regression.csv")

In [3]:
data.head()

   Feature 1  Feature 2  Feature 3  Target
0      230.1       37.8       69.2    22.1
1       44.5       39.3       45.1    10.4
2       17.2       45.9       69.3     9.3
3      151.5       41.3       58.5    18.5
4      180.8       10.8       58.4    12.9

In [5]:
### splitting data

output_col = "Target"

x = data.iloc[:,data.columns!=output_col]

x.head()

y = data.loc[:,output_col]

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=43)

data.shape

x_train.shape

x_test.shape

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(x_train, y_train)

lr.coef_

lr.intercept_

pred_value = lr.predict(x_test)

from sklearn.metrics import mean_squared_error

cost = mean_squared_error(y_test,pred_value)
cost

2.2412862530933464

In [6]:
x_with_constant = sm.add_constant(x_train)
x_with_constant

/Users/satyam.gupta/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

     const  Feature 1  Feature 2  Feature 3
71     1.0      109.8       14.3       31.7
90     1.0      134.3        4.9        9.3
100    1.0      222.4        4.3       49.8
44     1.0       25.1       25.7       43.3
94     1.0      107.4       14.0       10.9
..     ...        ...        ...        ...
58     1.0      210.8       49.6       37.7
21     1.0      237.4        5.1       23.5
49     1.0       66.9       11.7       36.8
64     1.0      131.1       42.8       28.9
68     1.0      237.4       27.5       11.0

[140 rows x 4 columns]

In [7]:
model = sm.OLS(y_train, x_with_constant)

In [9]:
result = model.fit()

In [10]:
result.params

const        3.077774
Feature 1    0.045978
Feature 2    0.180929
Feature 3   -0.001942
dtype: float64

In [12]:
lr.coef_

array([ 0.0459782 ,  0.18092867, -0.00194226])

In [13]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Target   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.882
Method:                 Least Squares   F-statistic:                     346.9
Date:                Sat, 04 Nov 2023   Prob (F-statistic):           1.67e-63
Time:                        14:41:18   Log-Likelihood:                -276.47
No. Observations:                 140   AIC:                             560.9
Df Residuals:                     136   BIC:                             572.7
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.0778      0.398      7.735      0.000       2.291       3.865
Feature 1      0.0460      0.002     26.108      0.000       0.042       0.049
Feature 2      0.1809      0.010     17.575      0.000       0.161       0.201
Feature 3     -0.0019      0.007     -0.280      0.780      -0.016       0.012
==============================================================================
Omnibus:                       51.703   Durbin-Watson:                   2.206
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              130.812
Skew:                          -1.502   Prob(JB):                     3.93e-29
Kurtosis:                       6.661   Cond. No.                         468.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [17]:
## Inference:
# r-sq. very close to 1 hence model is working well
# F-statistics very close to 1 hence we are rejecting the Null Hyp. and we are predicting values correctly
# t value probablity is 0 for feature 1 and 2 hence here too, we are rejecting null hyp. meaning values are being predicted well.
# t-value for feature 3 is 0.780 which is high meaning this feature is not a good one to include for Linear regression.